* {
	box-sizing: border-box;
}

body{
	background: grey;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.game-container{
	position: relative;
	width: 854px;
	height: 480px;
	margin: 0 auto;
	margin-top: 20px;
	outline: 1px solid white;

transform: scale(1.2) translateY(20%);

}

.game-container canvas {
	image-rendering: pixelated;
}